<!DOCTYPE html>
<html>
  <head>
    <title>RailsFbApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <% unless current_user %>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <% else %>
    <%= current_user[:name] %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% end %>


  <fb:login-button
    scope="public_profile,email"
    onlogin="checkLoginState();">
  </fb:login-button>

    <%= yield %>


  <script>
      window.fbAsyncInit = function() {
          FB.init({
              appId      : '{your-app-id}',
              cookie     : true,
              xfbml      : true,
              version    : '{api-version}'
          });

          FB.AppEvents.logPageView();

      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));


      FB.getLoginStatus(function(response) {
          statusChangeCallback(response);
      });

      function checkLoginState() {
          FB.getLoginStatus(function(response) {
              statusChangeCallback(response);
          });
      }
  </script>

  </body>
</html>
